
<div class="modal-backdrop fade in" ></div>
<div id="full-width-modal" style="display: block;overflow: auto;opacity: 1;top: 0%;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> 
   <!-- <div id="full-width-modal" class="modal fade" tabindex="-1"  z-index:99999;position:absolute; role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> -->
   <div class="modal-dialog modal-full-width" style=" transform: translate(0,0%)">
       <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title" id="fullWidthModalLabel">Create Resources
                 </h4>
               <button type="button" (click)="backClicked()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           </div> 
          
            <form [formGroup]="addResoucesForm" (ngSubmit)="addresouces()" >
         
              
                <div class="modal-body">
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="domain">Domain</label><span style="color: red">*</span>
                                        <select class="form-control" id="domain" formControlName="domain" name="domain" [ngClass]="{ 'is-invalid': submitted && f.domain.errors }" required>
                                            <option value="" disabled>Choose a Domain</option>
                                            <option *ngFor="let domain of domainLists; let i = index;" [value]="domain" >{{domain}}</option>
                                        </select>

                                        <div *ngIf="submitted && f.domain.errors" class="alert alert-danger">
                                                <div *ngIf="f.domain.errors.required">Domain is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"> 
                                        <label for="resourceID">Resource ID</label><span style="color: red">*</span>
                                        <input type="number" (keyup)="dataDuplicate($event.target.value)" formControlName="resourceID" [ngClass]="{ 'is-invalid': submitted && f.resourceID.errors }"  class="form-control" name="resourceID" id="resourceID" placeholder="Enter Resource ID" required />
                                        <div *ngIf="submitted && f.resourceID.errors" class="alert alert-danger">
                                                <div *ngIf="f.resourceID.errors.required">Resource ID is required</div>
                                        </div>
                                        <div *ngIf="duplicateData" class="alert alert-danger">
                                               Resource ID is already Avalible.
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="resourceName">Resource Name</label><span style="color: red">*</span>
                                        <input type="text" class="form-control" formControlName="resourceName"  [ngClass]="{'is-invalid': submitted && f.resourceName.errors }" id="resourceName" name="resourceName" placeholder="Enter Name"  />
                                        <div *ngIf="submitted && f.resourceName.errors" class="alert alert-danger">
                                            <div *ngIf="f.resourceName.errors.required">Resource Name is required</div>
                                        </div>
                                       

                                        
                                    </div>
                                </div>
                            </div>
                    <div class="row">
                            <div class="col-md-4">
                                 <div class="form-group">
                                        <label for="resourceName">Application Name</label>
                                             <ng-multiselect-dropdown  
                                             [settings]="dropdownSettings" 
                                             [placeholder]="'Application Name'"
                                              [data]="applicationNameLists"
                                              (onSelect)="onItemSelect($event)"
                                              (onSelectAll)="onSelectAll($event)"
                                              formControlName="applicationName">
                                  </ng-multiselect-dropdown>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="gender">Gender</label>
                                            <select class="form-control" id="gender" formControlName="gender" name="gender">
                                                <option value="" disabled>Choose a Gender</option>
                                                <option *ngFor="let gender of genderLists; let i = index;" [value]="gender">{{gender}}</option>
                                            </select>
                                         
                                        </div>
                                    </div>  

                                    <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="employmentType">Employment Type</label>
                                                <select class="form-control" formControlName="employmentType" id="employmentType" required>
                                                    <option value="" disabled>Choose a Employment Type</option>
                                                    <option *ngFor="let employmentType of statusLists; let i = index" [value]="employmentType">{{employmentType}}</option>
                                                </select>
                                             
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="name">Retain / Release</label>
                                                    <select class="form-control" formControlName="retainRelease" id="retainRelease" name="retainRelease" required>
                                                        <option value="" disabled>Choose a Employent Retain</option>
                                                        <option *ngFor="let retainRelease of retainLists; let i = index" [value]="retainRelease">{{retainRelease}}</option>
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="name">Resource Class</label>
                                                    <select class="form-control" formControlName="resourceClass" id="resourceClass" name="resourceClass" required>
                                                        <option value="" disabled>Choose a Resource Class</option>
                                                        <option *ngFor="let resourceClass of resourceClassLists; let i = index" [value]="resourceClass">{{resourceClass}}</option>
                                                    </select>
                                                
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="content-section implementation">
                                                    <div class="ui-g ui-fluid">
                                                        <div class="ui-g-12 ui-md-12 ">
                                                                <div class="form-group">
                                                                <label for="name">Date Of Hire </label><br>
                                                                <p-calendar class="ng-tns-c3-3" formControlName="dateOfHire" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Date Of Hire"></p-calendar>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="role">Role</label>
                                                                <select class="form-control" id="role" formControlName="role" name="role">
                                                                    <option value="" disabled>Choose a Role</option>
                                                                    <option *ngFor="let role of roleLists; let i = index;" [value]="role">{{role}}</option>
                                                                </select>
                                                              
                                                            </div>
                                                        </div>
                                                        
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="bankId">Resource Manager Bank ID</label><span style="color: red">*</span>
                                                        <input type="text" formControlName="resourceManagerBankID" class="form-control" name="resourceManagerBankID" id="resourceManagerBankID" placeholder="Enter Resource Manager Bank ID" required />
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="resourceManagerName">Resource Manager Name</label><span style="color: red">*</span>
                                                        <input type="text" formControlName="resourceManagerName" class="form-control" name="resourceManagerName" id="resourceManagerName" placeholder="Enter Resource Manager Name" required />
                                                      
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="row">
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="financialDepartment">Financial Department</label><span style="color: red">*</span>
                                                                <input type="text" formControlName="financialDepartment" class="form-control" name="financialDepartment" id="financialDepartment" placeholder="Enter Financial Department" required />
                                                               
                                                            </div>
                                                        </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="gender">Location Country</label>
                                                        <select class="form-control" id="country" formControlName="country" name="country">
                                                            <option value="" disabled>Choose a Location Country</option>
                                                            <option *ngFor="let country of locationCtryLists; let i = index;" [value]="country">{{country}}</option>
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="gender">Location City</label>
                                                        <select class="form-control" id="city" formControlName="city" name="city">
                                                            <option value="" disabled>Choose a Location City</option>
                                                            <option *ngFor="let city of locationLists; let i = index;" [value]="city">{{city}}</option>
                                                        </select>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>


                                            <div class="row">
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="gender">Current Resource Type (2018) </label>
                                                                <select class="form-control" id="currentResourceType" formControlName="currentResourceType" name="currentResourceType">
                                                                    <option value="" disabled>(Automation/Functional/SME)</option>
                                                                    <option *ngFor="let currentResourceType of cRTypeLists; let i = index;" [value]="currentResourceType">{{currentResourceType}}</option>
                                                                </select>
                                                             
                                                            </div>
                                                        </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="gender">Next year Resource Type (2019) </label>
                                                        <select class="form-control" id="nextYearResourceType" formControlName="nextYearResourceType" name="nextYearResourceType">
                                                            <option value="" disabled>(Automation/Functional/SME)</option>
                                                            <option *ngFor="let nextYearResourceType of nextResTypeLists; let i = index;" [value]="nextYearResourceType">{{nextYearResourceType}}</option>
                                                        </select>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="gender">Transition Period </label>
                                                        <select class="form-control" id="transitionPeriod" formControlName="transitionPeriod" name="transitionPeriod">
                                                            <option value="" disabled>Choose a (Q1/Q2/Q3/Q4'19)</option>
                                                            <option *ngFor="let transitionPeriod of tredPeriodLists; let i = index;" [value]="transitionPeriod">{{transitionPeriod}}</option>
                                                        </select>
                                                     
                                                    </div>
                                                </div>
                                               
                                              
                                            </div>

                                            <div class="row">   
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="gender">Transition Year</label>
                                                                <select class="form-control" id="transitionYear" formControlName="transitionYear" name="transitionYear">
                                                                        <option value="" disabled>Choose a Transition Year</option>
                                                                        <option *ngFor="let transitionYear of tredYearList; let i = index;" [value]="transitionYear">{{transitionYear}}</option>
                                                                    </select>
                                                             
                                                            </div>
                                                        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="remarks">Remarks</label>
                                                                <textarea type="text" formControlName="remarks" class="form-control" name="remarks" id="remarks" placeholder="Enter Remarks" required></textarea>
                                                            </div>
                                                        </div>
                                                <div class="col-md-4 custom-padd-12" >
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <label for="Access">Administrator Access</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio1" formControlName="administratorAccess" name="administratorAccess"  value='Yes' class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio1">Yes</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio2" formControlName="administratorAccess" name="administratorAccess"  value='No' class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio2">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                    
                
                </div>
           
           <div class="modal-footer">
               <button type="button" (click)="backClicked()" class="btn btn-light" data-dismiss="modal">Close</button>
               <button type="submit"   class="btn btn-primary">Submit</button><!--[disabled]="addResoucesForm.invalid"-->
           </div>
        </form>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->





