
<div class="modal-backdrop fade in" ></div>
 <div id="full-width-modal" style="display: block;overflow: auto;opacity: 1;top: 0%;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> 
    <!-- <div id="full-width-modal" class="modal fade" tabindex="-1"  z-index:99999;position:absolute; role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true"> -->
    <div class="modal-dialog modal-full-width" style=" transform: translate(0,0%)">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fullWidthModalLabel">Edit Resources
                  </h4>
                <button type="button" (click)="backClicked()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div> 
            <form [formGroup]="editResoucesForm" (ngSubmit)="editResoucesdata(f)" #f>
            <div class="modal-body" >
               
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="domain">Domain</label><span style="color: red">*</span>
                                    <select  class="form-control" formControlName="domain"  >
                                        <option value="" >Choose a Domain</option>
                                        <option *ngFor="let domain of domainLists; let i = index;" [value]="domain">{{domain}}</option>
                                    </select>
                                   <!-- <div *ngIf="editResoucesForm.controls.domain.errors" class="alert alert-danger" >
                                        <div *ngIf="editResoucesForm.controls.domain.errors.required">Domain required</div>
                                    </div> -->
                                </div> 
                                <!-- </div> -->
                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="resourceID">Resource ID </label><span style="color: red">*</span>
                                    <input readonly type="text" formControlName="resourceID" id="resourceID" class="form-control" required  />
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.resourceID.errors">
                                        <div *ngIf="editResoucesForm.controls.resourceID.errors.required">Resource ID Required</div>
                                    </div> -->
                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="resourceName">Resource Name</label>
                                    <input type="text"  class="form-control" formControlName="resourceName" id="resourceName" name="resourceName" placeholder="Enter Name" required />
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.resourceName.errors">
                                        <div *ngIf="editResoucesForm.controls.resourceName.errors.required">Resource Name Required</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                       <label for="resourceName">Application Name</label>
                                            <ng-multiselect-dropdown  
                                            [settings]="dropdownSettings" 
                                            [placeholder]="'Application Name'"
                                             [data]="applicationNameLists"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             formControlName="applicationName">
                                              </ng-multiselect-dropdown>
                                   </div>
                               </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select  class="form-control" id="gender" formControlName="gender" name="gender">
                                        <option value="" disabled>Choose a Gender</option>
                                        <option *ngFor="let gender of genderList; let i = index;" [value]="gender">{{gender}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.gender.errors">
                                        <div *ngIf="editResoucesForm.controls.gender.errors.required">Gender Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="employmentType">Employment Type</label>
                                    <select  class="form-control" formControlName="employmentType" id="employmentType" required>
                                        <option value="" disabled>Choose a Employment Type</option>
                                        <option *ngFor="let employmentType of status; let i = index" [value]="employmentType">{{employmentType}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.employmentType.errors">
                                        <div *ngIf="editResoucesForm.controls.employmentType.errors.required">Employment Type Required</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Retain / Release</label>
                                    <select  class="form-control" formControlName="retainRelease" id="retainRelease" name="retainRelease" required>
                                        <option value="" disabled>Choose a Employent Retain</option>
                                        <option *ngFor="let retainRelease of retainList; let i = index" [value]="retainRelease">{{retainRelease}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.retainRelease.errors">
                                        <div *ngIf="editResoucesForm.controls.retainRelease.errors.required">Retain Release Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Resource Class</label>
                                    <select  class="form-control" formControlName="resourceClass" id="resourceClass" name="resourceClass" required>
                                        <option value="" disabled>Choose a Employent Retain</option>
                                        <option *ngFor="let resourceClass of resourceClassList; let i = index" [value]="resourceClass">{{resourceClass}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.resourceClass.errors">
                                        <div *ngIf="editResoucesForm.controls.resourceClass.errors.required">Resource Class Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="content-section implementation">
                                            <div class="ui-g ui-fluid">
                                                <div class="ui-g-12 ui-md-12 ">
                                                        <div class="form-group"> 
                                                        <label for="name">Date Of Hire </label><br> 
                                                        <p-calendar class="ng-tns-c3-3" formControlName="dateOfHire" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" placeholder="Date Of Hire"></p-calendar>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <select  class="form-control" id="role" formControlName="role" name="role">
                                                <option value="" disabled>Choose a Role</option>
                                                <option *ngFor="let role of roleList; let i = index;" [value]="role">{{role}}</option>
                                            </select>
                                            <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.role.errors">
                                                <div *ngIf="editResoucesForm.controls.role.errors.required">Role Required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="bankId">Resource Manager Bank ID</label><span style="color: red">*</span>
                                    <input type="text"  formControlName="resourceManagerBankID" class="form-control" name="resourceManagerBankID" id="resourceManagerBankID" placeholder="Enter Resource Manager Bank ID" required />
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.resourceManagerBankID.errors">
                                        <div *ngIf="editResoucesForm.controls.resourceManagerBankID.errors.required">Resource Manager BankID Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="resourceManagerName">Resource Manager Name</label><span style="color: red">*</span>
                                    <input type="text" formControlName="resourceManagerName" class="form-control" name="resourceManagerName" id="resourceManagerName" placeholder="Enter Resource Manager Name" required />
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.resourceManagerName.errors">
                                        <div *ngIf="editResoucesForm.controls.resourceManagerName.errors.required">Resource Manager BankID Required</div>
                                    </div> -->
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="financialDepartment">Financial Department</label><span style="color: red">*</span>
                                            <input type="text"  formControlName="financialDepartment" class="form-control" name="financialDepartment" id="financialDepartment" placeholder="Enter Financial Department" required />
                                            <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.financialDepartment.errors">
                                                <div *ngIf="editResoucesForm.controls.financialDepartment.errors.required">Financial Department Required</div>
                                            </div> -->
                                        </div>
                                    </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Location Country</label>
                                    <select class="form-control"  id="country" formControlName="country" name="country">
                                        <option value="" disabled>Choose a Location Country</option>
                                        <option *ngFor="let country of locationCtryList; let i = index;" [value]="country">{{country}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.country.errors">
                                        <div *ngIf="editResoucesForm.controls.country.errors.required">Country Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Location City</label>
                                    <select class="form-control"  id="city" formControlName="city" name="city">
                                        <option value="" disabled>Choose a Location City</option>
                                        <option *ngFor="let city of locationList; let i = index;" [value]="city">{{city}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.city.errors">
                                        <div *ngIf="editResoucesForm.controls.city.errors.required">City Required</div>
                                    </div> -->
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="gender">Current Resource Type (2018) </label>
                                            <select class="form-control"  id="currentResourceType" formControlName="currentResourceType" name="currentResourceType">
                                                <option value="" disabled>(Automation/Functional/SME)</option>
                                                <option *ngFor="let currentResourceType of cRTypeList; let i = index;" [value]="currentResourceType">{{currentResourceType}}</option>
                                            </select>
                                            <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.currentResourceType.errors">
                                                <div *ngIf="editResoucesForm.controls.currentResourceType.errors.required">Current Resource Type Required</div>
                                            </div> -->
                                        </div>
                                    </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Next year Resource Type (2019) </label>
                                    <select class="form-control"  id="nextYearResourceType" formControlName="nextYearResourceType" name="nextYearResourceType">
                                        <option value="" disabled>(Automation/Functional/SME)</option>
                                        <option *ngFor="let nextYearResourceType of nextResTypeList; let i = index;" [value]="nextYearResourceType">{{nextYearResourceType}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.nextYearResourceType.errors">
                                        <div *ngIf="editResoucesForm.controls.nextYearResourceType.errors.required">Next Year Resource Type Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Transition Period </label>
                                    <select class="form-control"  id="transitionPeriod" formControlName="transitionPeriod" name="transitionPeriod">
                                        <option value="" disabled>Choose a (Q1/Q2/Q3/Q4'19)</option>
                                        <option *ngFor="let transitionPeriod of tredPeriodList; let i = index;" [value]="transitionPeriod">{{transitionPeriod}}</option>
                                    </select>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.transitionPeriod.errors">
                                        <div *ngIf="editResoucesForm.controls.transitionPeriod.errors.required">Transition Period Required</div>
                                    </div> -->
                                </div>
                            </div>
                          
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="gender">Transition Year</label>{{transitionYear | json}}
                                            <select class="form-control" id="transitionYear" formControlName="transitionYear" name="transitionYear">
                                                <option value="" disabled>Choose a Transition Year</option>
                                                <option *ngFor="let transitionYear of tredYearList; let i = index;" [value]="transitionYear">{{transitionYear}}</option>
                                            </select>
                                         
                                        </div>
                                    </div>

                                <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="remarks">Remarks</label>
                                            <textarea type="text"  formControlName="remarks" class="form-control" name="remarks" id="remarks" placeholder="Enter Remarks" required></textarea>
                                        </div>
                                    </div>

                                   


                            <div class="col-md-4 custom-padd-12" >
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="Access">Administrator Access</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio"  id="customRadio1" formControlName="administratorAccess" name="administratorAccess"  value='Yes' class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Yes</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio"  id="customRadio2" formControlName="administratorAccess" name="administratorAccess"  value='No' class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">No</label>
                                        </div>
                                    </div>
                                    <!-- <div class="alert alert-danger" *ngIf="editResoucesForm.controls.administratorAccess.errors">
                                        <div *ngIf="editResoucesForm.controls.administratorAccess.errors.required">Administrator Access Required</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4" style="visibility: hidden;">
                                    <div class="form-group">
                                        <input type="hidden" formControlName="userId" id="userId" name="userId" >
                                    </div>
                                </div>
                    
                        </div>
                   
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" (click)="backClicked()" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" *ngIf="buttontype == false" [disabled]="editResoucesForm.invalid" (click)="enableForm()" class="btn btn-primary">Edit changes</button>
                <button type="button" *ngIf="buttontype == true" [disabled]="editResoucesForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div></form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->


