
                       <div class="row"><!--Start Title -->
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"  [routerLinkActive]="['active']"><a [routerLink]="['../../dashboard']">Dashboard</a></li>
                                            <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLink]="['../resources']">Resources</a></li>
                                            <li class="breadcrumb-item active">View Resources</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Resources
                                            <a (click)="addData()" href="#"  data-toggle="modal" data-target="#add-new-task-modal" class="btn btn-success btn-sm ml-3">Add New Resources </a>
                                    </h4>   
                                </div>
                            </div>
                        </div><!--End Title -->   
                        <div class="row"><!-- Start View Resource -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                    <table  datatable [dtOptions]="dtOptions"
                                     [dtTrigger]="dtTrigger"
                                       id="datatable-buttons"
                                      class="table"
                                       width="100%"></table>
                                    </div> 
                                </div>
                            </div>
                        </div><!-- END  View Resource-->
                        <!-- add router Start -->
                        
                        <router-outlet></router-outlet>
                        <!-- -->
                        <!-- add router end  -->